Level 1

In [5]:
#1
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))

7

In [2]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')
print(it_companies)

{'Oracle', 'Facebook', 'Apple', 'Amazon', 'Microsoft', 'IBM', 'Twitter', 'Google'}

In [3]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.update(['Cyphernet', 'Instagram'])
print(it_companies)

{'Google', 'Microsoft', 'IBM', 'Cyphernet', 'Facebook', 'Apple', 'Oracle', 'Amazon', 'Instagram'}

In [4]:
it_companies = {'Google', 'Microsoft', 'IBM', 'Cyphernet', 'Facebook', 'Apple', 'Oracle', 'Amazon', 'Instagram'}
it_companies.remove('Cyphernet')
print(it_companies)

{'Facebook', 'Apple', 'Google', 'Oracle', 'Amazon', 'Instagram', 'Microsoft', 'IBM'}

'remove() raises an exception/error if element is not present in set'
The only notable difference is, remove() will throw an error message when the element which we are trying to remove is not there in the set, whereas, discard() will not intimate the absence of element which we try to remove.

Level 2

In [7]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))
del A
del B
del it_companies

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

Level 3

In [8]:
#1
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(set(age)) < len(age))  # len of list is bigger

True

In [6]:
#2

#List is a non-homogeneous data structure which stores the elements in single row and multiple rows and columns
#Tuple is also a non-homogeneous data structure which stores single row and multiple rows and columns
#Set data structure is also non-homogeneous data structure but stores in single row

In [2]:
#3
sentence  = 'I am a teacher and I love to inspire and teach people.'

split_sen = sentence.split(" ")

split_sen = set(split_sen)
print(split_sen)

{'a', 'love', 'I', 'to', 'am', 'and', 'teacher', 'teach', 'inspire', 'people.'}