Level 1

In [1]:
#Q1
empty_list = list()

In [2]:
#Q2
more_than_5 = [1, 2, 3, 4, 5, 6]

In [3]:
#Q3
print(len(more_than_5))

6

In [4]:
#Q4
print(more_than_5[0], more_than_5[len(more_than_5) // 2], more_than_5[-1])

1 4 6

In [1]:
#Q5
mixed_list = ['Faridah', 27, 156, 'Married', 'Garki Abuja']

In [6]:
#Q6
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [7]:
#Q7
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [8]:
#Q8
print(len(it_companies))

7

In [9]:
#Q9
print(it_companies[0], it_companies[len(it_companies) // 2], it_companies[-1])

Facebook Apple Amazon

In [10]:
#Q10
it_companies[0] = 'Cyphernet'
print(it_companies)

['Cyphernet', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [13]:
#Q11
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.append('cyphernet')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'cyphernet']

In [15]:
#Q12
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.insert(4, 'cyphernet')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'cyphernet', 'IBM', 'Oracle', 'Amazon']

In [16]:
#13
it_companies[0] = it_companies[0].upper()
print(it_companies)

['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'cyphernet', 'IBM', 'Oracle', 'Amazon']

In [17]:
#Q14
it_companies_hash = '#'.join(it_companies)
print(it_companies)

['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'cyphernet', 'IBM', 'Oracle', 'Amazon']

In [24]:
#Q15
print('Microsoft' in it_companies)

True

In [3]:
#Q16
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'IBM', 'Microsoft', 'Oracle']

In [4]:
#Q17
it_companies.reverse()
print(it_companies)

['Oracle', 'Microsoft', 'IBM', 'Google', 'Facebook', 'Apple', 'Amazon']

In [18]:
#Q18
it_companies = it_companies[3:]
print(it_companies)

['Apple', 'cyphernet', 'IBM', 'Oracle', 'Amazon']

In [20]:
#Q19#
it_companies = it_companies[- 3]
print(it_companies)

IBM

In [23]:
#Q20
it_companies =['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'] 
it_companies=it_companies[-4:-5]
print(it_companies)

[]

In [25]:
#21
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.pop(0)
print(it_companies)

['Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [26]:
#22
it_companies =['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.pop(3)
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'IBM', 'Oracle', 'Amazon']

In [27]:
#23
it_companies =['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']
it_companies.pop(6)
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle']

In [10]:
#24
it_companies.clear()
print(it_companies)

[]

In [11]:
#25
del it_companies
print(it_companies)

NameError: name 'it_companies' is not defined

In [28]:
#26
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
front_end_and_back_end = front_end + back_end

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [57]:
#27
full_stack = ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

Level 2

In [41]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
# Find the maximum value in the list
print(max(ages))
print(min(ages))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
26
19

In [45]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.append('min')
ages.append('max')
print(ages)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 'min', 'max']

In [50]:
def median(list):
    list.sort()
    l = len(list)
    
    mid = (l-1)//2
    
    if(l%2==0):
        return (list[mid] + list[mid+1])/2
    else:
        return list[mid]
        
list = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("Median of list1 = ", median(list))

Median of list1 =  24.0

In [46]:
ages =[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
for i in ages:
    count = 0
    count += i
    avg = count/len(ages)
    print("sum = ", count)
print("average = ", avg)

sum =  19
sum =  22
sum =  19
sum =  24
sum =  20
sum =  25
sum =  26
sum =  24
sum =  25
sum =  24
average =  2.4

In [68]:


countries=['Afghanistan', 'Albania', 'Algeria', 'Andorra',
'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia',
'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 
'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 
'Burundi', 'Cambodia','Cameroon', 'Canada', 'Cape Verde',
'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi',
'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire",
'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 
'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador',
'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The',
'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South',
'Kuwait','Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 
'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino',
'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
'Serbia and Montenegro', 'Seychelles', 'Sierra Leone',
'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 
'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo',
'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 
'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 
'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 
'Zambia', 'Zimbabwe']

len_of_countries = len(countries)
print(len_of_countries)
print(193/2)
print(countries[96])

193
96.5
Lesotho

In [46]:
second_countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway']
ch, ru, us, *scandic, = second_countries
print(ch)
print(ru)
print(us)
print(scandic)

China
Russia
USA
['Finland', 'Sweden', 'Norway']